@use './scss/font' as *;
@use './scss/colors' as *;
@use './scss/screensizes' as *;
@import './scss/Backgrounds.scss';
@import './scss/Menu.scss';
@import './scss/Dashboard.scss';
@import './scss/Task.scss';
@import './scss/Website.scss';
@import './scss/Quote.scss';
@import './scss/Login.scss';
@import './scss/Popup.scss';
@import './scss/SelectSearch.scss';
@import './scss/AdminDashboard.scss';

.red-color {
    color: $red;
}

.green-color {
    color: $green;
}

.blue-color {
    color: $blue;
}

.poppins-bold {
    font-weight: $poppins-bold;
}

.poppins-medium {
    font-weight: $poppins-normal;
}

.poppins-small {
    font-weight: $poppins-small;
}

.rem-3 {
    font-size: 3rem;
}

#main-page {
    display: block;
    width: 100%;
}

.clickable-link {
    cursor: pointer;
    text-decoration: underline;
    color: $purple;
}

#header {
    float: right;
    font-size: small;
    margin-right: 10vw;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 246, 0.5);
    border-radius: 25px;
}

#main-container {
    position: relative;
    padding-top: 10vh;
}

#homepage {
    padding-top: 10vh;
    position: relative;
}

#homepage-container {
    display: block;
    width: 100%;
}

#homepage-main {
    padding-top: 10%;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#homepage-divider {
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#homepage-amount-users {
    background-color: rgba($color: $purple, $alpha: 0.2);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#homepage-amount-users-top {
    font-size: x-large;
    font-weight: $poppins-bold;
}

#homepage-amount-users-bottom {
    font-size: xx-large;
    font-weight: $poppins-bold;
}

.homepage-to {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.homepage-link-to {
    font-size: xx-large;
    background-color: rgba($color: $purple, $alpha: 0.2);
    padding: 1.5rem;
    border-radius: 10px;
    transition: 0.5s;
    color: $purple;

    &:hover {
        background-color: rgba($color: $purple, $alpha: 0.5);
    }
}


@media (min-width: $desktop) {
    #header {
        font-size: larger;
        margin-right: 1rem;
    }

    #main-container {
        display: flex;
        position: static;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        width: 97vw;
        padding-top: 0;
    }

    #main-page {
        display: flex;
    }

}

@media (min-width: $large-screen) {
    #header {
        font-size: x-large;
    }

    .padding-main-top {
        padding-top: 10rem;
    }

    #main-container {
        display: flex;
        position: static;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        padding-top: 0;
    }
}